.about-section {
  background-color: #31333b;
}

.heading {
  margin: 0;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
}

.heading,
.about-paragraph {
  color: white;
}

.span {
  display: inline-block;
  width: 150px;
  height: 2px;
  background-color: #ffd871;
}

.about-paragraph {
  font-size: 1.4rem;
}

.about-paragraph p {
  margin: 0;
  text-align: center;
  padding: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .heading {
    font-weight: 600;
    text-align: left;
  }

  .about-paragraph p {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0;
  }

  .about-paragraph {
    display: flex;
    gap: 30px;
  }

  .about-paragraph .span {
    flex-basis: 2000px;
    height: 4px;
  }
}
