*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
