*,
*::after,
*::before {
  box-sizing: border-box;
}

::selection {
  color: #ffd871;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
